@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-color: #D6DDE1;
    font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #FFFFFF;
	min-height: 11em;
}

header section{
	margin: 0;
	padding: 0;
}

header nav a:not(:last-child):after{
	content: '/';
	margin: 0.5em;
	opacity: 0.3;
}

section{
	background-color: #FFFFFF;
	margin-top: 2em;
	margin-bottom: 2em;
	min-height: 4em;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

h1{
	font-size: 1.7em;
}

h2{
	font-size: 1.4em;
}

h3{
	font-size: 1.1em;
}

h4{
	font-size: 1em;
}

@media screen and (max-width: 768px) {
	h1, h2{
		font-weight: bold;
	}
	h1{
		font-size: 1.2em;
	}

	h2{
		font-size: 1.0em;
	}

	h3{
		font-size: 0.8em;
	}

	h4{
		font-size: 0.6em;
	}

	header nav a:not(:last-child):after{
		content: '';
		margin: 0;
		opacity: 0;
	}
}

.contact-info nav{
	text-align: center;
}

.about-me p{
	text-align: justify;
}

.top-bar{
	height: 0.5em;
	background-color: #1BB8E8;	
}

.separator{
	height: 0.5em;
	background-color: #D6DDE1;
	margin-top: 1em;
	margin-bottom: 1em;
}

.top-border-dotted{
	border-style: dotted none none none;
	margin-bottom: 1em;
	padding-top: 1em;
}

.centralize{
	text-align: center;
}